---
import Layout from '../layouts/Layout.astro';
import { FontAwesomeIcon } from '@fortawesome/react-fontawesome';
import { faBackward, faForward, faHouse, faPlay } from '@fortawesome/free-solid-svg-icons'
---

<Layout title="Welcome to Astro.">

		<div class="container" >
			<FontAwesomeIcon icon={faBackward} size='xs'></FontAwesomeIcon>
			<FontAwesomeIcon icon={faForward} size='1x'></FontAwesomeIcon>
			<FontAwesomeIcon icon={faPlay} size='1x'></FontAwesomeIcon>
		</div>

</Layout>

<style>
	.container{
		background-color: #e7e7e7;
		height: 500px;
		width: 400px;
		border-radius: 20px;
		box-shadow: 0 15px  30px rgba(0, 0, 0,0.3);
		transition: all 0.5s ease;
	}

	.container:hover{
		box-shadow: 0 15px 30px rgba(0, 0, 0,0.6);
	}
</style>
